.avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all ease-in-out .3s;
    display: flex;
    justify-content: center;
  }